@import "tailwindcss";

/* -----------------------------------
   THEME COLORS
------------------------------------ */
@theme {
  /* Neutral colors */
  --color-neutral-900: #1c1a19;
  --color-neutral-800: #201e1d;
  --color-neutral-700: #34302d;
  --color-neutral-600: #4a4846;
  --color-neutral-400: #c0bfbf;
  --color-neutral-300: #dedcda;
  --color-neutral-200: #efedeb;
  --color-neutral-100: #fbf9f7;
  --color-neutral-0: #ffffff;

  /* Blue colors */
  --color-blue-200: #e1f1fe;
  --color-blue-500: #93cefc;
  --color-blue-700: #75b0de;
  --color-blue-800: #5792c0;
  --color-blue-900: #022b4a;

  /* Green colors */
  --color-green-200: #e9f5ea;
  --color-green-500: #9dd3a9;
  --color-green-700: #008531;
  --color-green-900: #132a18;

  /* Yellow colors */
  --color-yellow-200: #fff5e1;
  --color-yellow-500: #facc79;
  --color-yellow-700: #ea9806;
  --color-yellow-900: #4a3003;

  /* Red colors */
  --color-red-400: #f04438;
  --color-red-600: #d92d20;

  /* Fonts */
  --font-nunito: "Nunito", sans-serif;
  --font-nunito-sans: "Nunito Sans", sans-serif;
}

/* -----------------------------------
   DARK MODE OVERRIDES
------------------------------------ */
/* .dark {
  @theme {
    --color-neutral-900: #fbf9f7;
    --color-neutral-0: #1c1a19;

    --color-blue-500: #75b0de;
    --color-green-500: #008531;
    --color-yellow-700: #ea9806;
    --color-red-600: #d92d20;
  }
} */

/* -----------------------------------
   BASE STYLES, FONTS, TEXT PRESETS
------------------------------------ */
@layer base {
  /* -------------------------
     Base body styles
  ------------------------- */
  body {
    background-color: var(--color-neutral-0);
    color: var(--color-neutral-900);
    font-family: var(--font-nunito);
  }

  a {
    color: var(--color-blue-500);
  }

  .btn-success {
    background-color: var(--color-green-500);
    color: var(--color-neutral-0);
  }

  .btn-danger {
    background-color: var(--color-red-600);
    color: var(--color-neutral-0);
  }

  .alert-warning {
    background-color: var(--color-yellow-700);
    color: var(--color-neutral-0);
  }

  .header {
    background-color: var(--color-blue-500);
    color: var(--color-neutral-0);
  }

  /* -------------------------
     Font imports
  ------------------------- */
  @font-face {
    font-family: "DM Sans";
    src: url("../src/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
      format("truetype");
    font-weight: 400 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "DM Sans";
    src: url("../src/assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf")
      format("truetype");
    font-weight: 400 800;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Fira Code";
    src: url("../src/assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf")
      format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* -------------------------
     Text Presets
  ------------------------- */
  .tp-1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: -1px;
  }
  .tp-2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -0.5px;
  }
  .tp-3 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: -0.5px;
  }
  .tp-4 {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.5px;
  }
  .tp-5 {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.5px;
  }
  .tp-6 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.5px;
  }
  .tp-7 {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.2px;
  }
  .tp-7-semibold {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.2px;
  }
  .tp-8 {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.2px;
  }
  .tp-8-italic {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.2px;
  }
  .tp-9 {
    font-family: "Fira Code", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 146%;
    letter-spacing: -0.4px;
  }

  /* -------------------------
     Border Radius Variables
  ------------------------- */
  @theme {
    --radius-0: 0;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-full: 999px;
  }

  .rounded-0 {
    border-radius: var(--radius-0);
  }
  .rounded-sm {
    border-radius: var(--radius-4);
  }
  .rounded-md {
    border-radius: var(--radius-8);
  }
  .rounded-lg {
    border-radius: var(--radius-12);
  }
  .rounded-xl {
    border-radius: var(--radius-16);
  }
  .rounded-2xl {
    border-radius: var(--radius-20);
  }
  .rounded-3xl {
    border-radius: var(--radius-24);
  }
  .rounded-full {
    border-radius: var(--radius-full);
  }

  @layer components {
    .underline-bg {
      @apply relative inline-block leading-none;
    }
    .underline-bg::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 0.36em;
      bottom: 0.12em;
      background: theme("colors.blue.500");
      border-radius: 0.375rem;
      z-index: 0;
    }
    .underline-bg > .ub-text {
      position: relative;
      z-index: 10;
      display: inline-block;
    }
  }
}
